@import "../shared.scss";

.barMenu{
  display: none;
  position: fixed;
  top: 2%;
  left: 5%;
  width: 30px;
  height: auto;
  
  .bar{
    width: 100%;
    height: 6px;
    background-color: $secondary_color;
    border-radius: 999px;
    margin-bottom: 12%;
  }
}

.menu{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
  height: 100%;
  color: $primary_text_color;
  padding: 2%;
  background-color: $background_color;

  .continent-container{
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;

    .continent{
        width: 100%;
        list-style: none;
        padding: 10px;

        h3{
            background-color: $secondary_color;
            padding: 5px;
            border-radius: 2px;
        }

        .country-container{
            margin-top: 2%;
            padding: 15px;
            .country{
                list-style: none;
                cursor: pointer;
                transition: all 300ms;
                padding: 1px;
                border-radius: 2px;
            }
            .country:hover{
                background-color: $primary_color;
            }
        }
    }
  }

  .to-Top{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: $secondary_color;
    font-size: 2rem;
    animation: fadeShow 1000ms linear;
    z-index: 999;
  }

  .closeBar{
    width: 100%;
    display: none;
    font-size: 2rem;
    text-align: end;
  }

  .continent-container::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
  }
  .continent-container::-webkit-scrollbar
  {
    width: 2px;
    height: 2px;
    background-color: #F5F5F5;
  }
  .continent-container::-webkit-scrollbar-thumb
  {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #888;
  }

  .active{
    background-color: $primary_color;
  }

  .title{
    font-size: 2rem;
  }
}

@media (max-width: 575.98px) {
  .menu{
    display: none;
    width: 80%;
    padding: 2%;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    z-index: 999;

    .title{
      margin: auto;
    }

    .continent-container{
      width: 100%;
      padding: 0%;

      .continent{
        padding: 0px;
        
        h3{
          padding: 5px;
        }

        .country-container{
          margin-top: 0%;
          padding: 0px;

          .country{
              margin-left: 5%;
          }
        }
      }
    }

    .to-Top{
      display: flex;
    }
    
    .closeBar{
      display: block;
    }
  }

  .barMenu{
    display: block;
  }

  .closeNavBar{
    animation: closeNav 300ms linear;
  }
  
  .openNavBar{
    animation: openNav 300ms linear;
  }
  
  .closedBar{
    display: none;
  }
  
  .openedBar{
    display: flex;
  }
}

@media (min-width: 992px) {
  .menu{
    display: flex;
  }

  .closedBar{
    display: flex;
  }
}

@keyframes closeNav {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}

@keyframes openNav {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}

@keyframes fadeShow {
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}